<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <section >
          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
          <ul class="list" *ngIf="!(isLoading$ | async)">
            <cdk-virtual-scroll-viewport [itemSize]="5000" style="height: 400px; width: 400px;" >
              <li> <app-photos [photos]="photos$ | async"></app-photos> </li>
            </cdk-virtual-scroll-viewport>
          </ul>
        </section>
      </div>
      <div class="col-sm-6">
        <section>
          <app-add-photo></app-add-photo>
        </section>
      </div>
    </div>

    <div class="col-sm-6">
      <section>
        <app-edit-photo *ngIf="editPhoto"></app-edit-photo>
      </section>
    </div>
  </div>
</main>
